        main, footer, nav, div {
            margin: 5px;
    }

    header{
            color:#f8efef;
            font-size:xx-large           
    }

    #etc {
        background-image: url(./imagenes/GAMDIAS-guia-armar-PC-Gamer.jpg);
        background-size: 100%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-repeat: no-repeat;
        text-align: center;
        height: 700px;
   }

    #titulo {
            color: white;
  }   

  .link {
    font-size:medium;
    color: rgb(215, 233, 215);
}
