main, footer, nav, div, {
    margin: 1px;
}


#nav-nav {
    background-color: rgb(215, 215, 226);
    background-image: url(./imagenes/GAMDIAS-guia-armar-PC-Gamer.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    height: 610px;
    flex-direction: column;
    
}

#nav-nav a{
text-decoration:none;
font-size:large;
color: white;
padding: 10px;
}

#titulo{
color: white;
font-size: xx-large;
font-weight: bold;  
}

#sobre-mi{

background-color: #5c6263;
width: 100%;
display: block padding: 5px;
margin: 2px;
margin-block-start: -1.2em;
/* margin-block-end: 6.83em; */
margin-inline-start: 2px;
margin-inline-end: 2px;
border-left-width: 1px;
margin-left: 0px;
}
#que-hacemos{
width: 100%;
height: 35vh;
background: linear-gradient(#5c6263, black);
margin-top:-5mm;



}
