body {
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 2px;
    border: solid;
}
footer{
border-top: solid;
}

#nav-nav{
    background-image: url(./imagenes/GAMDIAS-guia-armar-PC-Gamer.jpg);
    text-align: center;
    height: 610px;
    background-size: cover;
    background-attachment: fixed;    
}


#nav-nav a{
    text-decoration:none;
    font-size:large;
    color: white;
    padding: 10px;
}

#titulo{
    color: white;
    font-size: xx-large;
      
}

#sobre-mi{

    background-color: #12664a;
    border-top: solid;
    padding-bottom: 13px;
    width: 100%;
    display: block padding 5px;
    margin-block-start:-1.2em;

}

#que-hacemos{
    width: 100%;
    border-top: solid;
    height: 43vh;
    background: linear-gradient(#5c6263, black);
    margin-top: -5mm;
}

#promociones-st{
    height: 26vh;
    border-top:solid;
    margin-top:-5mm;
    background-color: rgb(93, 158, 146);
}

#contactenos-st{
    display: inline-block;
    border-top: solid;
    font-size: large;
    color: black;
    width: 100%;
    height: 39vh;
}

ul{
    padding-inline-start: 0px;
    margin-bottom: 21px;
    padding-left: 2px;
    padding-left: 21px;
}

h2{
    text-align: center;
    font-size:xx-large;
    margin-top: 20px;
    margin-bottom:20px;
}

#contactenos-st ul{
    padding-left:0px;
}
